<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<display-name>EmployeeRegistration</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeRegistration</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RegistrationDao</servlet-name>
  	<display-name>RegistrationDao</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.RegistrationDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationEntity</servlet-name>
  	<display-name>RegistrationEntity</display-name>
  	<description></description>
  	<servlet-class>com.ers.entity.RegistrationEntity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationModel</servlet-name>
  	<display-name>RegistrationModel</display-name>
  	<description></description>
  	<servlet-class>com.ers.model.RegistrationModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationService</servlet-name>
  	<display-name>RegistrationService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.RegistrationService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HibernateUtil</servlet-name>
  	<display-name>HibernateUtil</display-name>
  	<description></description>
  	<servlet-class>com.ers.db.HibernateUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServiceImpl</servlet-name>
  	<display-name>RegistrationServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.RegistrationServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationDaoImpl</servlet-name>
  	<display-name>RegistrationDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.RegistrationDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementEntity</servlet-name>
  	<display-name>ReimbursementEntity</display-name>
  	<description></description>
  	<servlet-class>com.ers.entity.ReimbursementEntity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationMapper</servlet-name>
  	<display-name>RegistrationMapper</display-name>
  	<description></description>
  	<servlet-class>com.ers.db.RegistrationMapper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginEntity</servlet-name>
  	<display-name>LoginEntity</display-name>
  	<description></description>
  	<servlet-class>com.ers.entity.LoginEntity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementModel</servlet-name>
  	<display-name>ReimbursementModel</display-name>
  	<description></description>
  	<servlet-class>com.ers.model.ReimbursementModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginMapper</servlet-name>
  	<display-name>LoginMapper</display-name>
  	<description></description>
  	<servlet-class>com.ers.db.LoginMapper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementMapper</servlet-name>
  	<display-name>ReimbursementMapper</display-name>
  	<description></description>
  	<servlet-class>com.ers.db.ReimbursementMapper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServiceImpl</servlet-name>
  	<display-name>LoginServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginDao</servlet-name>
  	<display-name>LoginDao</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.LoginDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginDaoImpl</servlet-name>
  	<display-name>LoginDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.LoginDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementRequest</servlet-name>
  	<display-name>ReimbursementRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ReimbursementRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementService</servlet-name>
  	<display-name>ReimbursementService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.ReimbursementService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementServiceImpl</servlet-name>
  	<display-name>ReimbursementServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.ReimbursementServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDao</servlet-name>
  	<display-name>ReimbursementDao</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.ReimbursementDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDaoImpl</servlet-name>
  	<display-name>ReimbursementDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.ReimbursementDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PendingList</servlet-name>
  	<display-name>PendingList</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.PendingList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApprovedList</servlet-name>
  	<display-name>ApprovedList</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ApprovedList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<display-name>UpdateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployeeInfo</servlet-name>
  	<display-name>UpdateEmployeeInfo</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateEmployeeInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerProfile</servlet-name>
  	<display-name>ManagerProfile</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeList</servlet-name>
  	<display-name>EmployeeList</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPendingList</servlet-name>
  	<display-name>ManagerPendingList</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerPendingList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPendingView</servlet-name>
  	<display-name>ManagerPendingView</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerPendingView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPendingUpdate</servlet-name>
  	<display-name>ManagerPendingUpdate</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerPendingUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApprovedList</servlet-name>
  	<display-name>ManagerApprovedList</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerApprovedList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRecheck</servlet-name>
  	<display-name>LoginRecheck</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LoginRecheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRecheckDao</servlet-name>
  	<display-name>LoginRecheckDao</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.LoginRecheckDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRecheckDaoImpl</servlet-name>
  	<display-name>LoginRecheckDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.LoginRecheckDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRecheckService</servlet-name>
  	<display-name>LoginRecheckService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.LoginRecheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginRecheckServiceImpl</servlet-name>
  	<display-name>LoginRecheckServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.LoginRecheckServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationDao</servlet-name>
  	<url-pattern>/RegistrationDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationEntity</servlet-name>
  	<url-pattern>/RegistrationEntity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationModel</servlet-name>
  	<url-pattern>/RegistrationModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationService</servlet-name>
  	<url-pattern>/RegistrationService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HibernateUtil</servlet-name>
  	<url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServiceImpl</servlet-name>
  	<url-pattern>/RegistrationServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationDaoImpl</servlet-name>
  	<url-pattern>/RegistrationDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementEntity</servlet-name>
  	<url-pattern>/ReimbursementEntity</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>RegistrationMapper</servlet-name>
  	<url-pattern>/RegistrationMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginEntity</servlet-name>
  	<url-pattern>/LoginEntity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementModel</servlet-name>
  	<url-pattern>/ReimbursementModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginMapper</servlet-name>
  	<url-pattern>/LoginMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementMapper</servlet-name>
  	<url-pattern>/ReimbursementMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServiceImpl</servlet-name>
  	<url-pattern>/LoginServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginDao</servlet-name>
  	<url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginDaoImpl</servlet-name>
  	<url-pattern>/LoginDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementRequest</servlet-name>
  	<url-pattern>/ReimbursementRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementService</servlet-name>
  	<url-pattern>/ReimbursementService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementServiceImpl</servlet-name>
  	<url-pattern>/ReimbursementServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDao</servlet-name>
  	<url-pattern>/ReimbursementDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDaoImpl</servlet-name>
  	<url-pattern>/ReimbursementDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PendingList</servlet-name>
  	<url-pattern>/PendingList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApprovedList</servlet-name>
  	<url-pattern>/ApprovedList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeInfo</servlet-name>
  	<url-pattern>/UpdateEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerProfile</servlet-name>
  	<url-pattern>/ManagerProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeList</servlet-name>
  	<url-pattern>/EmployeeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPendingList</servlet-name>
  	<url-pattern>/ManagerPendingList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPendingView</servlet-name>
  	<url-pattern>/ManagerPendingView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPendingUpdate</servlet-name>
  	<url-pattern>/ManagerPendingUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApprovedList</servlet-name>
  	<url-pattern>/ManagerApprovedList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRecheck</servlet-name>
  	<url-pattern>/LoginRecheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRecheckDao</servlet-name>
  	<url-pattern>/LoginRecheckDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRecheckDaoImpl</servlet-name>
  	<url-pattern>/LoginRecheckDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRecheckService</servlet-name>
  	<url-pattern>/LoginRecheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRecheckServiceImpl</servlet-name>
  	<url-pattern>/LoginRecheckServiceImpl</url-pattern>
  </servlet-mapping>
</web-app>
